@font-face {
  font-family: 'FamCode';
  src:  url('fonts/FamCode.eot?ubr2t6');
  src:  url('fonts/FamCode.eot?ubr2t6#iefix') format('embedded-opentype'),
    url('fonts/FamCode.ttf?ubr2t6') format('truetype'),
    url('fonts/FamCode.woff?ubr2t6') format('woff'),
    url('fonts/FamCode.svg?ubr2t6#FamCode') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="famcode-"], [class*=" famcode-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FamCode' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.famcode-exclam:before {
  content: "\21";
}
.famcode-quotedbl:before {
  content: "\22";
}
.famcode-numbersign:before {
  content: "\23";
}
.famcode-dollar:before {
  content: "\24";
}
.famcode-percent:before {
  content: "\25";
}
.famcode-ampersand:before {
  content: "\26";
}
.famcode-quotesingle:before {
  content: "\27";
}
.famcode-parenleft:before {
  content: "\28";
}
.famcode-parenright:before {
  content: "\29";
}
.famcode-asterisk:before {
  content: "\2a";
}
.famcode-plus:before {
  content: "\2b";
}
.famcode-comma:before {
  content: "\2c";
}
.famcode-hyphen:before {
  content: "\2d";
}
.famcode-period:before {
  content: "\2e";
}
.famcode-slash:before {
  content: "\2f";
}
.famcode-zero:before {
  content: "\30";
}
.famcode-one:before {
  content: "\31";
}
.famcode-two:before {
  content: "\32";
}
.famcode-three:before {
  content: "\33";
}
.famcode-four:before {
  content: "\34";
}
.famcode-five:before {
  content: "\35";
}
.famcode-six:before {
  content: "\36";
}
.famcode-six1:before {
  content: "\a0";
}
.famcode-seven:before {
  content: "\37";
}
.famcode-eight:before {
  content: "\38";
}
.famcode-nine:before {
  content: "\39";
}
.famcode-colon:before {
  content: "\3a";
}
.famcode-semicolon:before {
  content: "\3b";
}
.famcode-less:before {
  content: "\3c";
}
.famcode-equal:before {
  content: "\3d";
}
.famcode-greater:before {
  content: "\3e";
}
.famcode-question:before {
  content: "\3f";
}
.famcode-at:before {
  content: "\40";
}
.famcode-A:before {
  content: "\41";
}
.famcode-B:before {
  content: "\42";
}
.famcode-C:before {
  content: "\43";
}
.famcode-D:before {
  content: "\44";
}
.famcode-E:before {
  content: "\45";
}
.famcode-F:before {
  content: "\46";
}
.famcode-G:before {
  content: "\47";
}
.famcode-H:before {
  content: "\48";
}
.famcode-I:before {
  content: "\49";
}
.famcode-J:before {
  content: "\4a";
}
.famcode-K:before {
  content: "\4b";
}
.famcode-L:before {
  content: "\4c";
}
.famcode-M:before {
  content: "\4d";
}
.famcode-N:before {
  content: "\4e";
}
.famcode-O:before {
  content: "\4f";
}
.famcode-P:before {
  content: "\50";
}
.famcode-Q:before {
  content: "\51";
}
.famcode-R:before {
  content: "\52";
}
.famcode-S:before {
  content: "\53";
}
.famcode-T:before {
  content: "\54";
}
.famcode-U:before {
  content: "\55";
}
.famcode-V:before {
  content: "\56";
}
.famcode-W:before {
  content: "\57";
}
.famcode-X:before {
  content: "\58";
}
.famcode-Y:before {
  content: "\59";
}
.famcode-Z:before {
  content: "\5a";
}
.famcode-bracketleft:before {
  content: "\5b";
}
.famcode-backslash:before {
  content: "\5c";
}
.famcode-bracketright:before {
  content: "\5d";
}
.famcode-asciicircum:before {
  content: "\5e";
}
.famcode-underscore:before {
  content: "\5f";
}
.famcode-grave:before {
  content: "\60";
}
.famcode-a:before {
  content: "\61";
}
.famcode-b:before {
  content: "\62";
}
.famcode-c:before {
  content: "\63";
}
.famcode-d:before {
  content: "\64";
}
.famcode-e:before {
  content: "\65";
}
.famcode-f:before {
  content: "\66";
}
.famcode-g:before {
  content: "\67";
}
.famcode-h:before {
  content: "\68";
}
.famcode-i:before {
  content: "\69";
}
.famcode-j:before {
  content: "\6a";
}
.famcode-k:before {
  content: "\6b";
}
.famcode-l:before {
  content: "\6c";
}
.famcode-m:before {
  content: "\6d";
}
.famcode-n:before {
  content: "\6e";
}
.famcode-o:before {
  content: "\6f";
}
.famcode-p:before {
  content: "\70";
}
.famcode-q:before {
  content: "\71";
}
.famcode-r:before {
  content: "\72";
}
.famcode-s:before {
  content: "\73";
}
.famcode-t:before {
  content: "\74";
}
.famcode-u:before {
  content: "\75";
}
.famcode-v:before {
  content: "\76";
}
.famcode-w:before {
  content: "\77";
}
.famcode-x:before {
  content: "\78";
}
.famcode-y:before {
  content: "\79";
}
.famcode-z:before {
  content: "\7a";
}
.famcode-braceleft:before {
  content: "\7b";
}
.famcode-bar:before {
  content: "\7c";
}
.famcode-braceright:before {
  content: "\7d";
}
.famcode-asciitilde:before {
  content: "\7e";
}
.famcode-square:before {
  content: "\bf";
}
.famcode-level:before {
  content: "\c0";
}
.famcode-plumb:before {
  content: "\c1";
}
.famcode-keys:before {
  content: "\c2";
}
.famcode-feathers:before {
  content: "\c3";
}
.famcode-bible:before {
  content: "\c4";
}
.famcode-square-compass-sun:before {
  content: "\c5";
}
.famcode-square-compass-moon:before {
  content: "\c6";
}
.famcode-cornucopia-right:before {
  content: "\c7";
}
.famcode-cornucopia-left:before {
  content: "\c8";
}
.famcode-swords-crossed:before {
  content: "\c9";
}
.famcode-sword:before {
  content: "\ca";
}
.famcode-harp:before {
  content: "\cb";
}
.famcode-square-compass-ea:before {
  content: "\cc";
}
.famcode-scroll:before {
  content: "\cd";
}
.famcode-compass:before {
  content: "\ce";
}
.famcode-grip:before {
  content: "\cf";
}
.famcode-mallet:before {
  content: "\d0";
}
.famcode-apron:before {
  content: "\d1";
}
.famcode-gavel:before {
  content: "\d2";
}
.famcode-gauge:before {
  content: "\d3";
}
.famcode-light:before {
  content: "\d4";
}
.famcode-lights:before {
  content: "\d5";
}
.famcode-chalk:before {
  content: "\d6";
}
.famcode-square-compass-fc:before {
  content: "\d7";
}
.famcode-steps:before {
  content: "\d8";
}
.famcode-acacia:before {
  content: "\d9";
}
.famcode-celestial-globe:before {
  content: "\da";
}
.famcode-terraqueous-globe:before {
  content: "\db";
}
.famcode-tuscan:before {
  content: "\dc";
}
.famcode-doric:before {
  content: "\dd";
}
.famcode-ionic:before {
  content: "\de";
}
.famcode-corinthian:before {
  content: "\df";
}
.famcode-composite:before {
  content: "\e0";
}
.famcode-boaz:before {
  content: "\e1";
}
.famcode-jachin:before {
  content: "\e2";
}
.famcode-wages:before {
  content: "\e3";
}
.famcode-square-compass:before {
  content: "\e4";
}
.famcode-square-compass-master:before {
  content: "\e5";
}
.famcode-coffin:before {
  content: "\e6";
}
.famcode-rough-ashlar:before {
  content: "\e7";
}
.famcode-perfect-ashlar:before {
  content: "\e8";
}
.famcode-trowel:before {
  content: "\e9";
}
.famcode-beehive:before {
  content: "\ea";
}
.famcode-hope:before {
  content: "\eb";
}
.famcode-atack:before {
  content: "\ec";
}
.famcode-iacute:before {
  content: "\ed";
}
.famcode-constitutions:before {
  content: "\ee";
}
.famcode-eye:before {
  content: "\ef";
}
.famcode-345-triangle:before {
  content: "\f0";
}
.famcode-hourglass-scythe:before {
  content: "\f1";
}
.famcode-carving-gavel:before {
  content: "\f2";
}
.famcode-shovel:before {
  content: "\f3";
}
.famcode-square-quadrant:before {
  content: "\f4";
}
.famcode-acacia-branch:before {
  content: "\f5";
}
.famcode-broken-column:before {
  content: "\f6";
}
.famcode-setting-maul:before {
  content: "\f7";
}
.famcode-trivium:before {
  content: "\f8";
}
.famcode-quadrivium:before {
  content: "\f9";
}
.famcode-glyph81:before {
  content: "\e900";
}
.famcode-glyph88:before {
  content: "\e901";
}
.famcode-glyph93:before {
  content: "\e902";
}
